@use '../../../../styles/_variables.scss' as *;

.userProfile {
  display: flex;
  align-items: center;
  height: 62px;
  gap: 18px;
  margin-bottom: 48px;

  .userAvatar {
    height: 62px;
    width: 62px;
    border-radius: 50%;
  }

  .userInfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.4em;
    gap: 8px;

    .userName {
      font-size: 26px;
      font-weight: 500;
    }

    .userSubInfo {
      color: $color-text-secondary;
      font-size: 16px;
    }
  }
}
