@use '../../styles/_variables.scss' as *;
// @use '../../styles/globals.scss' as *;

.button {
  font-family: 'Switzer', sans-serif;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-md;

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &.primary {
    background: $primary-color;
    color: white;

    &:hover:not(:disabled) {
      background: $primary-color-shade;
    }
  }

  &.secondary {
    background: $background;
    color: $primary-color;
    border: solid $primary-color 1px;

    &:hover:not(:disabled) {
      background: #b3e5fc;
    }
  }

  &.text {
    background: transparent;
    color: $primary-color;

    &:hover:not(:disabled) {
      background: #aeaeae50;
    }
  }

  &.sm {
    padding: 8px 12px;
    font-size: 14px;
  }

  &.md {
    padding: 12px 16px;
    font-size: 16px;
  }

  &.lg {
    padding: 16px 24px;
    font-size: 18px;
  }

  .label {
    margin-right: auto;
  }
}
