.buttonAdept {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  // font-size: 20px;
  // font-weight: 600;
  // font-family: 'Switzer-Semibold';
}

.active {
  background-color: #faff5a64 !important;
  color: #000 !important;

  &:hover {
    background-color: #faff5a40 !important;
  }
}
