.header {
  display: flex;
  width: 100%;
  gap: 32px;

  .navArrows {
    display: flex;

    .navArrow {
      border-radius: 50%;
      width: 32px;
      height: 32px;
    }
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
}

.item {
  display: inline-flex;
  align-items: center;
}

.prev {
  color: #a0a0a0; // серый, как на макете
}

.current {
  font-weight: 600; // жирный
  color: #000;
}

.separator {
  margin: 0 4px;
  color: #a0a0a0;
}

.currentSeparator {
  font-weight: 600; // жирный
  color: #000;
  margin: 0 4px;
}
