.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'Switzer-Semibold';

  li {
    font-family: 'Switzer-Semibold';
  }
}

.buttonAdept {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  // font-size: 20px;
  // font-weight: 600;
  // font-family: 'Switzer-Semibold';
}
