.wrapper {
  position: absolute;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  transition: 0.2s ease all;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);

  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 640px;
    transform: translate(-50%, -50%);
    // color: #111;

    a {
      color: #111;
      font-size: 15px;
      font-weight: 400;
    }
    span {
      // color: #111;

      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0;
    }

    .contentBox {
      border-radius: 24px;
      border: solid 1px rgba($color: #666666, $alpha: 0.5);
      padding: 40px 56px;
      width: auto;
      height: auto;
      gap: 48px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      transition: 0.2s ease all;

      h1 {
        font-weight: 500;
        padding: 0;
        margin: 0;
      }
      .carousel {
        display: flex;
        width: 560px * 2 + 200px;
        gap: 200px;
        transition: 0.2s ease all;

        .inputBox {
          display: flex;
          flex-direction: column;
          gap: 5px;
          width: 528px;

          .loginButtonAndAgree {
            margin-top: 10px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 8px;
            align-items: center;

            .loginButton {
              margin-top: 5px;
              font-family: 'Inter', sans-serif;
              font-size: 22px;
              font-weight: 500;
              background-color: lighten(#111, 10%);
              color: #ffffff;
              height: 64px;
              border-radius: 40px;
              width: 100%;
              text-align: center;
              justify-content: center;
              align-items: center;
              border: 1px solid none;
              transition: 0.3s ease;
              cursor: pointer;

              &:hover {
                background-color: #111;
                color: #fff;
                border: 1px solid none;
              }

              &:active {
                background-color: #fff;
                color: darken(#111, 20%);
                border: 1px solid darken(#111, 20%);
                transform: scale(0.9);
              }

              &:focus {
                border: none;
                outline: solid 3px #0969da;
                background-color: #111;
              }
            }

            .inactiveButton {
              margin-top: 5px;
              height: 64px;

              font-family: 'Inter', sans-serif;
              font-size: 22px;
              font-weight: 500;
              background-color: rgba($color: #666, $alpha: 0.5);
              color: #ffffff;
              border-radius: 40px;
              width: 100%;
              text-align: center;
              justify-content: center;
              align-items: center;
              border: 1px solid none;
              transition: 0.3s ease;
              cursor: not-allowed;
            }

            .shake {
              animation: shake 0.4s;
            }

            @keyframes shake {
              0% {
                transform: translateX(0);
              }
              25% {
                transform: translateX(-5px);
              }
              50% {
                transform: translateX(5px);
              }
              75% {
                transform: translateX(-5px);
              }
              100% {
                transform: translateX(0);
              }
            }

            .spinner {
              border: 5px solid rgba(255, 255, 255, 0.3);
              border-top: 5px solid white;
              border-radius: 50%;
              width: 16px;
              height: 16px;
              animation: spin 1s linear infinite;
            }

            @keyframes spin {
              0% {
                transform: rotate(0deg);
              }
              100% {
                transform: rotate(360deg);
              }
            }

            .rememberCheckbox {
              display: flex;
              width: 100%;
              align-items: center;
              justify-content: flex-start;
              cursor: pointer;

              input {
                display: none; /* Скрываем стандартный чекбокс */
              }

              .checkmark {
                width: 16px;
                height: 16px;
                border: 2px solid #111; /* Цвет рамки */
                border-radius: 4px; /* Закругление углов */
                margin-right: 10px;
                position: relative;
                transition: background-color 0.3s;
              }

              /* Стили для чекбокса при выборе */
              input:checked + .checkmark {
                background-color: #111; /* Цвет фона при выборе */
              }

              /* Галочка */
              input:checked + .checkmark::after {
                content: '';
                position: absolute;
                left: 6px; /* Положение по горизонтали */
                top: 2px; /* Положение по вертикали */
                width: 6px; /* Ширина галочки */
                height: 12px; /* Высота галочки */
                border: solid #fff; /* Цвет галочки */
                border-width: 0 2px 2px 0; /* Толщина линий галочки */
                transform: rotate(45deg) translate(-2px); /* Поворот для создания галочки */
              }

              span {
                display: flex;
                align-items: center;
                justify-content: start;
                height: 20px;
                color: #111;
              }
            }

            span {
              color: #111;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 40px;
              width: 100%;
              font-size: 14px;
              font-weight: 400;
            }
          }
        }
      }
      .rowFlex {
        margin-top: 40px;
        width: 100%;
        height: 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }

    .dividingLine {
      width: 100%;
      border-bottom: solid 2px rgba($color: #666, $alpha: 0.5);
      margin: 47px 0;
      position: relative;

      .textOverDividingLine {
        position: absolute;
        width: 274px;
        height: 24px;
        background-color: #fff;
        color: rgba($color: #666, $alpha: 0.5);
        top: -12px;
        left: 183px;
      }
    }

    .signupButton {
      width: 100%;
      height: 64px;
      border: solid 1px #111;
      border-radius: 40px;
      background-color: #fff;
      font-size: 20px;
      font-weight: 400;
      transition: 0.3s ease;
      cursor: pointer;

      &:hover {
        background-color: #111;
        color: #fff;
        border: 1px solid none;
      }

      &:active {
        background-color: rgba($color: #666, $alpha: 0.5);
        color: #fff;
        border: 1px solid rgba($color: #666, $alpha: 0.5);
        transform: scale(0.9);
      }
    }
  }
}
