$primary-color: #000 !default;
$secondary-color: #707070;
$primary-color-shade: rgb(74, 149, 214);
$background: #fff !default;
$color-text: #000 !default;
$color-text-secondary: rgb(112, 117, 121);
$color-text-meta-colored: rgb(77, 205, 94);

$button-bg-active: #f8fb91;

$font-wight-normal: 400;

$spacing-sm: 8px;
$spacing-md: 16px;

$border-width: 1px;
$color-border-input: rgb(218, 220, 224);
$border-radius: 0.75rem;
$color-placeholder: #a2acb4;
