@use 'variables' as *;
@use 'reset';
@use 'fonts' as *;

body {
  // width: 100vw;
  // height: 100vh;
  background-color: $background;
  color: $color-text;
  font-family: 'Switzer-Regular', 'Switzer', sans-serif;
  font-size: 20px;
  $font-wight-normal: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
