.active {
  background-color: #faff5a64 !important;
  color: #000 !important;

  &:hover {
    background-color: #faff5a40 !important;
  }
}

.expanded {
  .startIcon {
    transform: rotate(90deg);
    color: #000;
  }
}

.workspaceItem {
  width: 100%;
  z-index: 100;

  transition: all 0.2s ease;

  .startIcon {
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.taskList {
  list-style-type: none;
  margin: 0 0 0 54px;
  padding: 0;
  gap: 2px;
  display: flex;
  flex-direction: column;
  align-items: start;
  max-height: 0;
  opacity: 0;
  // overflow: hidden;

  z-index: 99;
  transition: max-height 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), margin 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.task {
  // display: none; // для того чтоб скрытый список не перекрывал опции
  pointer-events: none;
  // position: relative;
  max-width: 100%;

  // transition: display 0.6s cubic-bezier(0.4, 0, 0.2, 1);

  // .branch1 {
  //   position: absolute;
  //   left: -29px;
  //   top: -3px;
  // }

  // .branch2 {
  //   position: absolute;
  //   left: -29px;
  //   top: -12px;
  // }

  // .branch3 {
  //   position: absolute;
  //   left: -29px;
  //   top: -33px;
  // }

  // .taskButton {
  //   margin-left: 2px;
  //   color: #00000060;
  //   padding: 6px 8px;
  //   max-width: 100%;
  // }
}

.expandedTaskList {
  max-height: 500px;
  opacity: 1;
  margin: 15px 0 20px 54px;

  .task {
    pointer-events: auto;

    // display: inline-flex;
  }
}
