.buttonAdept {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.active {
  background-color: #faff5a64 !important;
  color: #000 !important;

  &:hover {
    background-color: #faff5a40 !important;
  }
}
