@use '../../styles/variables' as *;

.sidebar {
  width: 300px;
  // height: 100%;
  background-color: #f6f6f3;
  padding: 48px 20px 98px 40px;
}

.userProfile {
  display: flex;
  align-items: center;
  height: 62px;
  gap: 18px;

  .userAvatar {
    height: 62px;
    width: 62px;
    border-radius: 50%;
  }

  .userInfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.4em;
    gap: 6px;

    .userName {
      font-size: 26px;
      font-weight: 500;
    }

    .userSubInfo {
      color: $color-text-secondary;
      font-size: 16px;
    }
  }
}
