@use '../../../styles/variables' as *;

.sidebar {
  width: 300px;
  // height: 100%;
  background-color: #f6f6f3;
  padding: 48px 20px 98px 40px;
  overflow: auto;

  a {
    text-decoration: none;
  }
}
