@use '../../../styles/variables' as *;

.sidebar {
  // width: 290px;
  // height: 100%;
  box-sizing: border-box;
  background-color: #f6f6f3;
  padding: 48px 20px 98px 40px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  a {
    text-decoration: none;
  }
}

.miniSidebar {
  padding: 48px 10px 98px 30px;
}
