.layout {
  width: 100%;
  height: 100vh;
  display: flex;
}

.sidebar {
  width: 300px;
  // height: 100%;
  // background-color: red;
}

.separator {
  background-color: #f6f6f3;
  width: 20px;
  cursor: ew-resize;
}
